<a href="https://colab.research.google.com/github/gustavosilva796/Introdu-o-linguagem-Python/blob/main/Introdu%C3%A7%C3%A3o_%C3%A0_linguagem_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estruturas Concicionais

In [2]:
x = 1
y = 1000

if x > y:
  print('x é maior que y')

if y > x:
  print('y é maior que x')

y é maior que x

13. Estruturas condicionais (comando else)

In [8]:
x = 1
y = 2

if x > y:
  print('x é maior que y')
else:
  print('x não é maior que y')

x não é maior que y

14. Estruturas condicionais (comando elif)

In [10]:
x = 2
y = 2

if x > y:
  print('x é maior que y')
elif x == y:
  print('x é igual a y')
else:
  print('x é menor que y')

x é igual a y

15. Estruturas de repetição (comando while)

In [11]:
x = 1

while x < 10:
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9

16. Estruturas de repetição (comando for)

In [12]:
lista1 = (1,2,3,4,5)
lista2 = ("Olá",'Mundo',"!")
lista3 = (1,"biscoito","bolacha",9.99,True)

for i in lista3:
  print(i)

1
biscoito
bolacha
9.99
True

**17. Estruturas de repetição (comandos for e range)**

A função range() retorna uma sequência de números, começando em 0 por padrão, e incrementa em 1 (por padrão) e termina em um número especificado.

In [15]:
for x in range(6):
  print(x)

0
1
2
3
4
5

O padrão da função range() é 0 como um valor inicial, no entanto, é possível especificar o valor inicial adicionando um parâmetro

In [16]:
for x in range(2, 6):
  print(x)

2
3
4
5

O padrão da função range() é incrementar a sequência em 1, no entanto, é possível especificar o valor do incremento adicionando um terceiro parâmetro: range(2, 30, 3):

In [17]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

**19. Strings parte 1**

In [19]:
a = "Caetano"
b = "Silva"

concatenar = a + " " + b
print(concatenar)

Caetano Silva

In [21]:
seq = "ADAFAÇAKFÇAKLMFÇAFMÇAFMKAÇFMAÇL"
print (len(seq))

31

In [22]:
a = "Gustavo"
print(a[2])

s

In [24]:
a = "Rio Verde"
print(a[2:7])

o Ver

In [26]:
a = "Ricardo"
print(a.lower())
print(a.upper())

ricardo
RICARDO

In [27]:
a = "        Janeiro     "
print(a.strip())

Janeiro

In [28]:
string = "O rato roeu a roupa do rei de Roma"
print(string.split())

['O', 'rato', 'roeu', 'a', 'roupa', 'do', 'rei', 'de', 'Roma']

In [29]:
string = "O rato roeu a roupa do rei de Roma"
print(string.find("rei"))

23

In [1]:
string = "O rato roeu a roupa do rei de Roma"
print(string.replace("rei","Imperador"))

O rato roeu a roupa do Imperador de Roma

**21. Funções**

In [2]:
def soma(x, y):
  print(x+y)

soma(3, 2)

5

In [3]:
def soma(x,y):
  return x+y

s = soma(2, 3)
print(s)

5

In [4]:
def soma(x,y):
  return x+y

def multiplica(x, y):
  return x*y

s = soma(2,3)
m = multiplica(3,4)

print(soma(s,m))

17

**22. Arquivos**

In [8]:
w = open("arquivo2.txt", "w")

w.write("Esse é o meu arquivo")

w.close()

In [12]:
w = open("arquivo2.txt", "a")

w.write("Esse é o meu arquivo\n")

w.close()

**23. Listas parte 1**

In [16]:
minha_lista = ["abacaxi", "melancia", "abacate"]
minha_lista2 = [1,2,3,4,5]
minha_lista3 = ["uva", 2, 3.99, True]

print(minha_lista3)
print(minha_lista[2])

for item in minha_lista:
  print(item)

['uva', 2, 3.99, True]
abacate
abacaxi
melancia
abacate

In [17]:
tamanho = len(minha_lista)
print(tamanho)

3

In [18]:
minha_lista.append("limão")
print(minha_lista)

['abacaxi', 'melancia', 'abacate', 'limão']

In [19]:
if 3 in minha_lista2:
  print("3 está na lista")

3 está na lista

In [20]:
del minha_lista[2:]
print(minha_lista)

['abacaxi', 'melancia']

In [21]:
lista = [23,6456,231,676,1,45,87,67,222]
lista.sort()

print(lista)

[1, 23, 45, 67, 87, 222, 231, 676, 6456]

In [23]:
lista = [23,6456,231,676,1,45,87,67,222]
lista = sorted(lista)

print(lista)

[1, 23, 45, 67, 87, 222, 231, 676, 6456]

In [24]:
lista = [23,6456,231,676,1,45,87,67,222]
lista.sort(reverse=True)

print(lista)

[6456, 676, 231, 222, 87, 67, 45, 23, 1]

In [25]:
lista = [6456, 676, 231, 222, 87, 67, 45, 23, 1]
lista.reverse()

print(lista)

[1, 23, 45, 67, 87, 222, 231, 676, 6456]

**26. Dicionários**

In [29]:
meu_dicionario = {"A": "Ameixa", "B":"Bola", "C":"Casa"}

for chave in meu_dicionario:
  print(meu_dicionario[chave])

Ameixa
Bola
Casa

In [30]:
meu_dicionario = {"A": "Ameixa", "B":"Bola", "C":"Casa"}

for chave in meu_dicionario:
  print(chave+":"+meu_dicionario[chave])

A:Ameixa
B:Bola
C:Casa

In [32]:
meu_dicionario = {"A": "Ameixa", "B":"Bola", "C":"Casa"}

for i in meu_dicionario.items():
  print(i)

('A', 'Ameixa')
('B', 'Bola')
('C', 'Casa')

In [33]:
meu_dicionario = {"A": "Ameixa", "B":"Bola", "C":"Casa"}

for i in meu_dicionario.values():
  print(i)

Ameixa
Bola
Casa

**27. Números aleatórios**

In [34]:
import random

In [39]:
numero = random.randint(0,10)
print(numero)

8

In [ ]:
random.seed()
numero = random.randint(0,10)
print(numero)

In [43]:
lista = [23,45,67]

numero = random.choice(lista)
print(numero)

23

**28. Tratamento de exceções**

In [2]:
a = 2
b = 0

print(a/b)

ZeroDivisionError: division by zero

In [1]:
a = 2
b = 0

try:
  print(a/b)

except:
  print("Não é permitido divisão por 0")

Não é permitido divisão por 0

Faça um programa que receba a idade do usuário e diga se ele é maior ou menor de idade.

In [4]:
numero_inteiro = int(input("Digite um numero inteiro: "))
if numero_inteiro >= 18:
  print("É maior de idade")
else:
  print("Menor de idade XD")

Digite um numero inteiro: 19
É maior de idade

Faça um programa que receba duas notas digitadas pelo usuário. Se a nota for maior ou igual a seis, escreva aprovado, senão escreva reprovado.

In [5]:
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
media = (nota1 + nota2) / 2
if media >= 6:
    print('Aprovado')
else:
    print('Reprovado')

Digite a primeira nota: 6
Digite a segunda nota: 8
Aprovado

Escreva um programa que resolva uma equação de segundo grau.

In [7]:
from math import sqrt
a = int(input("Digite o valor de A: "))
b = int(input("Digite o valor de B: "))
c = int(input("Digite o valor de C: "))

delta = b**2 - 4*a*c

if delta < 0:
    print("Delta negativo")
else:
    raiz_delta = sqrt(delta)
    x1 = (-b + raiz_delta)/2*a
    x2 = (-b - raiz_delta)/2*a

    print("As raízes são", x1, "e", x2)

Digite o valor de A: 4
Digite o valor de B: 1
Digite o valor de C: 8
Delta negativo

Escreva um programa que ordene uma lista numérica com três elementos.

In [8]:
a = int(input("Digite um valor numérico aleatório: "))
b = int(input("Digite outro valor: "))
c = int(input("Digite mais um: "))
lista = [a,b,c]
print(sorted(lista))

Digite um valor numérico aleatório: 23
Digite outro valor: 1
Digite mais um: 78
[1, 23, 78]

Escreva um programa que receba dois números e um sinal, e faça a operação matemática definida pelo sinal.

In [13]:
n1 = int(input("Digite o primeiro número: "))
sinal = input("Digite a operação matemática (+)soma, 8(-)subtração, (*)multiplicação, (/)divisão: ")
n2 = int(input("Digite o segundo número: "))

if sinal == "+":
    op = n1 + n2

elif sinal == "-":
    op = n1 - n2

elif sinal == "/":
    op = n1 + n2

elif sinal == "*":
    op = n1 * n2

else:
    print("Sinal inválido.")

print("O resultado é: ",op)

Digite o primeiro número: 9
Digite a operação matemática (+)soma, 8(-)subtração, (*)multiplicação, (/)divisão: -
Digite o segundo número: 5
O resultado é:  4

**33. Python avançado: list comprehension**

In [14]:
x = [1,2,3,4,5]
y = []

for i in x:
  y.append(i**2)

print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [16]:
x = [1,2,3,4,5]
y = [i**2 for i in x]

print("Usando list comprehension")
print(x)
print(y)

Usando list comprehension
[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [19]:
x = [1,2,3,4,5]
z = [i for i in x if i%2==1]

print(z)

[1, 3, 5]

**34. Python avançado: função enumerate**

In [20]:
lista = ["abacete","bola","cachorro"]

for i in lista:
  print(i)

abacete
bola
cachorro

In [21]:
lista = ["abacete","bola","cachorro"]

for i in range(len(lista)):
  print(i, lista[i])

0 abacete
1 bola
2 cachorro

In [22]:
lista = ["abacete","bola","cachorro"]

for i, nome in enumerate(lista):
  print(i, nome)

0 abacete
1 bola
2 cachorro

**35. Python avançado: função map**

In [23]:
def dobro(x):
  return x*2

valor = [1,2,3,4,5]

valor_dobrado = map(dobro, valor)

valor_dobrado = list(valor_dobrado)

print(valor_dobrado)

[2, 4, 6, 8, 10]

**36. Python avançado: função reduce**

In [24]:
from functools import reduce

def soma(x,y):
  return x+y

lista = [1,3,5,10,20]

soma = reduce(soma, lista)

print(soma)

39

**37. Python avançado: função zip**

In [26]:
lista1 = [1,2,3,4,5]
lista2 = ["abacate","cenoura","cebola","pimentão","limão"]
lista3 = ["R$ 2,50","R$ 3,25","R$ 1,50","R$ 4,15","R$ 0,99"]

for numero, nome, valor in zip(lista1, lista2, lista3):
  print(numero, nome, valor)

1 abacate R$ 2,50
2 cenoura R$ 3,25
3 cebola R$ 1,50
4 pimentão R$ 4,15
5 limão R$ 0,99

In [29]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista2 = []

def dobro(i):
  if i%2==0:
    return i

lista2 = [i%2 for i in lista]
print(lista2)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [33]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista2 = []

def dobro(i):
  if i%2==0:
    return i

lista2 = filter(dobro, lista)
print(lista2)

<filter object at 0x7910e5b71360>

In [34]:
x = [1, 2, 3]
y = [i for i in x if i % 2 == 0]

print(y)

[2]